.burgerColor {
  color: #000000 !important;
  background-color: #ffffff !important;

  .avatar {
    background: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
  }

  .name {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.313) !important;
  }

  .menuItem {
    color: rgb(0, 0, 0) !important;

    &.active {
      background-color: rgb(0, 0, 0) !important;
      color: rgb(255, 255, 255) !important;
    }
    &::after {
      background: rgba(0, 0, 0, 0.2) !important;
    }
  }
}

.burgerMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  background-color: #141619;
  background-image: none;
  background-repeat: initial;
  background-size: initial;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  overflow-x: hidden;

  .logoBleack {
    background-color: #000000 !important;
  }

  .logoColors {
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 16px;
    left: 16px;
    cursor: pointer;

    img {
      margin: 8px 0 0 0;
    }
  }

  .closeButton {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    border: none;
    background: transparent;
    font-size: 32px;
    cursor: pointer;
    line-height: 1;
    padding: 0;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: white;
      color: black;
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      line-height: 72px;

      font-family: "Times New Roman", serif;
      margin-bottom: 16px;
      transform: rotateY(180deg);

      .avatarImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        /* чтобы изображение точно было кругом */
        display: block;
      }
    }

    .name {
      font-size: 28px;
      font-weight: 400;

      text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    .menuItem {
      position: relative;
      font-size: 26px;
      font-weight: 400;
      padding: 14px 0;
      color: rgb(255, 255, 255);
      text-align: center;
      cursor: pointer;

      text-decoration: none;
      transition: background-color 0.3s ease, color 0.3s ease;
      list-style-type: none;
      position: relative;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      max-width: none;


      &.active {
        background-color: white;
        color: black;
        font-weight: 600;
      }

      &:last-child {
        border-bottom: none;
      }

      &.exit {
        display: flex;
        justify-content: center;
        align-items: center;

        .exitIcon {
          margin-left: 10px;
          font-size: 26px;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        /* линия тянется на всю ширину экрана */
        height: 1px;
        background: rgba(255, 255, 255, 0.2);
        z-index: -1;
      }

      &:last-child::after {
        display: none;
      }
    }

    .logout {
      all: inherit; // Наследует ВСЕ стили .menuItem
      appearance: none !important; // Убирает дефолтный вид кнопки
      position: relative;
      font-size: 26px;
      font-weight: 400;
      padding: 14px 0;
      color: white;
      text-align: center;
      cursor: pointer;
      user-select: none;
      transition: background-color 0.3s ease, color 0.3s ease;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 1px;
        background: rgba(255, 255, 255, 0.2);
        z-index: -1;
      }
    }


    // ✅ Гость без аватара
    .profile:has(.name:only-child) {
      .avatar {
        display: none;
      }
    }
  }
}