header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: sticky;
  top: 0;


  .headerIcon {
    display: flex;
    height: 42px;
    width: 79px;
    margin: 0 75px 0 15px;

  }

  .burgerMenu {
    margin: 0 15px 0 0;
    margin-left: auto;
  }


}
