 .card {
      background-color: #1a1a1a;
      border-radius: 10px;
      padding: 20px;
      color: white;
      box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.1);

      .cardHeader {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;

        .cardType {
          font-size: 14px;
          opacity: 0.8;
        }

        .cardAuthor {
          font-size: 14px;
          opacity: 0.8;
        }
      }

      .cardContent {
        font-size: 16px;
        line-height: 1.5;
        white-space: pre-wrap;
        
      }
    }