.card {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 16px 16px 12px;
  color: #fff;
  box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* дата всегда внизу */
  row-gap: 8px;
  max-width: 100%;

  .cardHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;

    .cardType,
    .cardAuthor {
      font-size: 14px;
      opacity: 0.8;
      font-style: italic;
      white-space: nowrap;
    }
  }

  .cardBody {
    .titleLine {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.35;
      margin-bottom: 10px;
    }

    .cardContent {
      font-size: 15px;
      line-height: 1.6;
      white-space: pre-wrap;
      color: rgba(255, 255, 255, 0.92);
      font-style: italic;
    }
  }

  .cardFooter {
    display: flex;
    justify-content: flex-end;

    .date {
      font-size: 12px;
      opacity: 0.85;
      font-style: italic;
    }
  }
}

.visualBackdrop {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  font-style: italic;

  .leftArrow {
    background: rgba(255, 255, 255, 0.27);
    -webkit-backdrop-filter: blur(8px);
    /* ← для Safari и iOS */
    backdrop-filter: blur(8px);
    margin: 0 0 0 -360px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    padding: 0 5px 2px 5px;
    height: 30px;
    width: 20px;
    position: absolute;
    z-index: 2;



    button {
      background: transparent;
      border: none;
      color: white;
      font-size: 20px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


  .rightArrow {
    background: rgba(255, 255, 255, 0.27);
    -webkit-backdrop-filter: blur(8px);
    /* ← для Safari и iOS */
    backdrop-filter: blur(8px);
    margin: 0 -360px 0 0;
    border-radius: 5px;
    border: 2px solid #ffffff;
    display: flex;
    padding: 0 4px 2px 4px;
    height: 30px;
    width: 20px;
    position: absolute;
    z-index: 2;


    button {
      background: transparent;
      border: none;
      color: white;
      font-size: 20px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}