.search {
    width: 100%;
    max-width: 395px;
    margin: 0 auto 30px;
    display: flex;
    border: 1px solid #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

.titleEvents {
    margin: 60px 0 60px 0;
    font-size: 8vw;
    font-family: "Cormorant Garamond";
    font-weight: 400;
    font-style: normal;
    text-align: center;

}

.visualBackdropColor {
    background: rgba(209, 209, 209, 0.65) !important;
    color: rgb(0, 0, 0) !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6), 0 0 40px rgba(0, 0, 0, 0.7) !important;
}

.visualBackdrop {
    margin: 4vw 4.5vw 0 4.5vw;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.27);
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
    padding: 15px 30px 30px 30px;
    color: white;
    box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.1);

    @media (min-width: 940px) {
        margin: 0 auto;
    }

    @media (min-width: 830px) {
        grid-template-columns: repeat(2, 1fr);
        max-width: 900px;


        .subtextOfTheEvent {
            width: 100%;
            max-width: 338px;
            margin: 0;
        }
    }

    @media (max-width: 428px) {
        .subtextOfTheEvent {
            width: 100%;
            height: 100%;


            p {
                -webkit-line-clamp: 3 !important;
            }

            .suvent {

                .monstratStyls400 {
                    font-size: 4.4vw !important;
                }

                .monstratStyls300 {
                    font-size: 3.7vw !important;
                }

                .usersIcon {
                    margin: 18px auto auto 4.4vw !important;
                }
            }
        }
    }

    .subtextOfColor {
        border: 1px solid #000000 !important;
        background-color: #fbfdff !important;
        .usersIcon{
            border: 1px solid #000000 !important;
        }
    }

    .subtextOfTheEvent {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 338px;
        max-height: 180px;
        border: 1px solid #ffffff;
        border-radius: 30px;
        background-color: #141619;
        margin: 20px 0 0 0;
        padding: 10px;

        p {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }



        .suvent {
            padding: 0 0 0 20px;

            .monstratStyls400 {
                font-family: "Montserrat";
                font-weight: 400;
                font-size: 19px;
            }

            .monstratStyls300 {
                font-family: "Montserrat";
                font-weight: 300;
                font-style: normal;
            }

            .timeRangeDate {
                display: flex;
                flex-wrap: wrap;
                margin: -20px 0 0 0;

                .usersIcon {
                    border: 1px solid #ffffff;
                    border-radius: 7px;
                    margin: 18px 0 auto 44px;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 5px 5px 0 0;

                    img {
                        height: 24px;
                        width: 45px;
                        margin: 0 0 0 0;
                    }

                    .numberUsers {
                        margin: -2px 0 0 0;
                        font-size: 20px;
                    }

                }
            }
        }
    }
}