main {

    .innerSpacing {
        margin: 35px 15px 0 15px;

    @media (min-width: 768px) {
    width: 740px;
    }

    @media (min-width: 1024px) {
        width: 960px;
    }


        .titleStyls {
            font-family: "Montserrat", sans-serif;
            font-style: medium;
            font-weight: 500;
        }

        .subtextTitle {
            margin: -20px 0 20px 0;
            font-family: "Montserrat", sans-serif;
            font-style:  medium , italic; 
            font-weight: 200;
        }
    }

    .titleCenter {
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-style: medium;
        font-weight: 600;
    }

    .buttonFonts{
        font-family: "Montserrat", sans-serif;
        font-style: medium;
        font-weight: 300;
        cursor: pointer;

         @media (min-width: 768px) {
            margin-top: 20px;
            font-size: 18px;
        }

        @media (min-width: 1024px) {
            font-size: 24px;
        }
        
    }

    .tecstUppercase {
        text-transform: uppercase;
        height: 35px;

    }

    .textRegulirovca {
        text-align: justify;
        line-height: 1.2;
        margin: 0 0 20px 0;
        font-family: "Montserrat", sans-serif;
        font-style: medium;
        font-weight: 400;
    }

    .cards {
        margin: 30px 15px 0 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .h3title {
            display: flex;
            justify-content: center;
            font-family: "Cormorant Garamond";
            font-style: medium;
            font-weight: 400;
            font-size: 19px;
        }

    }

    .innerSpacingBanner {
        margin: 35px 15px 0 15px;

        @media (min-width: 768px) {
        width: 740px;
        text-align: center;
        }

        @media (min-width: 1024px) {
            width: 960px;
        }

        .titleStyls {
            font-family: "Montserrat", sans-serif;
            font-style: medium;
            font-weight: 500;

            @media (min-width: 768px) {
                font-size: 100px;
            }

            @media (min-width: 1024px) {
                font-style: 128px;
            }
        }

        .subtextTitle {
            margin: -20px 0 20px 0;
            font-family: "Montserrat", sans-serif;
            font-style:  medium , italic; 
            font-weight: 200;

            @media (min-width: 768px) {
                font-size: 32px;
            }

            @media (min-width: 1024px) {
                font-size: 40px;
            }
        }
    }
}