main {

    .innerSpacing {
        margin: 35px 15px 0 15px;



        .titleStyls {
            font-family: "Montserrat", sans-serif;
            font-style: medium;
            font-weight: 500;
        }

        .subtextTitle {
            margin: -20px 0 20px 0;
            font-family: "Montserrat", sans-serif;
            font-style:  medium , italic; 
            font-weight: 200;
        }
    }

    .titleCenter {
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-style: medium;
        font-weight: 600;
    }

    .buttonFonts{
        font-family: "Montserrat", sans-serif;
        font-style: medium;
        font-weight: 300;
        cursor: pointer;
    }

    .tecstUppercase {
        text-transform: uppercase;
        height: 35px;

    }

    .textRegulirovca {
        text-align: justify;
        line-height: 1.2;
        margin: 0 0 20px 0;
        font-family: "Montserrat", sans-serif;
        font-style: medium;
        font-weight: 400;
    }

    .cards {
        margin: 30px 15px 0 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .h3title {
            display: flex;
            justify-content: center;
            font-family: "Cormorant Garamond";
            font-style: medium;
            font-weight: 400;
            font-size: 19px;
        }

    }

}