main {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .innerSpacing {
        margin: 35px 15px 0 15px;

        .titleStyls {
            font-family: "Montserrat", sans-serif;
            font-style: medium;
            font-weight: 500;
        }
        
        .subtextTitle {
            margin: -20px 0 20px 0;
            font-family: "Montserrat", sans-serif;
            font-style:  medium , italic; 
            font-weight: 200;
        }
        
        @media (min-width: 768px) {
            text-align: center;
            .titleStyls {
                font-size: 3.8rem;
                font-weight: 600;
            }
            .subtextTitle{
                font-size: 1.1rem;
                font-weight: 300;
            }
        }
    }

    .titleCenter {
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-style: medium;
        font-weight: 600;
        @media (min-width: 768px) {
            font-size: 1.5rem;
        }
    }

    .buttonFonts{
        font-family: "Montserrat", sans-serif;
        font-style: medium;
        font-weight: 300;
        cursor: pointer;
    }

    .tecstUppercase {
        text-transform: uppercase;
        height: 35px;

    }

    .textRegulirovca {
        text-align: justify;
        line-height: 1.2;
        margin: 0 0 20px 0;
        font-family: "Montserrat", sans-serif;
        font-style: medium;
        font-weight: 400;
        @media (min-width: 768px) {
            font-size: 1.3rem;
        }
    }

    .cards {
        margin: 30px 15px 0 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .h3title {
            display: flex;
            justify-content: center;
            font-family: "Cormorant Garamond";
            font-style: medium;
            font-weight: 400;
            font-size: 19px;
        }

    }

}