.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px 20px;
  color: #fff;
  font-family: Arial, sans-serif;
  background-color: #141619;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    .logoText {
      font-family: Georgia, serif;
      font-style: italic;
      font-weight: 400;
      font-size: 32px;
      color: #fff;
      -webkit-user-select: none; /* для Safari, iOS */
      -moz-user-select: none;    /* для Firefox (опционально) */
      user-select: none;
      margin: 0;
    }
  }

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;

    .input {
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.6);
      border-radius: 8px;
      padding: 12px 16px;
      font-size: 16px;
      color: #fff;

      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }

      &:focus {
        outline: none;
        border-color: #aaa;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    .forgotLink {
      color: rgba(255, 255, 255, 0.8);
      font-size: 14px;
      margin-top: -6px;
      margin-bottom: 18px;
      align-self: flex-start;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .submitButton {
      background: #fff;
      color: #222;
      font-weight: 700;
      font-size: 18px;
      padding: 14px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      -webkit-user-select: none; /* для Safari, iOS */
      -moz-user-select: none;    /* для Firefox (опционально) */
      user-select: none;
      transition: background-color 0.2s ease;

      &:hover {
        background: #e3e3e3;
      }
    }
  }

  .registerLink {
    margin-top: 50px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Адаптив для ПК */
@media (min-width: 1024px) {
  .container {
    max-width: 480px;
    padding: 60px 40px;

    .logo {
      margin-bottom: 60px;

      .logoText {
        font-size: 40px;
      }
    }

    .form {
      gap: 20px;

      .input {
        padding: 16px 20px;
        font-size: 18px;
      }

      .forgotLink {
        font-size: 16px;
        margin-bottom: 24px;
      }

      .submitButton {
        font-size: 20px;
        padding: 18px;
      }
    }

    .registerLink {
      margin-top: 80px;
      font-size: 16px;
    }
  }
}
