.containerColor {
  color: #000000 !important;
}
.container {
  min-height: 100vh;
  padding: 20px;
  color: #ffffff;
  font-family: Arial, sans-serif;

  .title {
    margin: 50px 0 80px;
    font-size: 7vw;
    text-align: center;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}