.app {
    margin: 0 0 auto 0;
    color: #ffffff;
    background-color: #141619;

    background-image: radial-gradient(circle at 20% 30%,
            rgba(255, 255, 255, 0.26),
            transparent 30%),
        radial-gradient(circle at 70% 60%,
            rgba(255, 200, 255, 0.2),
            transparent 30%),
        radial-gradient(circle at 50% 80%,
            rgba(180, 180, 255, 0.15),
            transparent 25%);
    background-repeat: no-repeat;
    background-size: cover;
    // font-family: "Garamond Premier Pro", serif , "Cormorant Garamond";
    // font-family: "Montserrat";
}

.appColor {
    margin: 0 0 auto 0;
    color: #000000;
    background-color: #ffffff;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}