body {
    margin: 0 0 0 0;
    background-color: #141619;
    color: #ffffff;

    .innerSpacing {
        margin: 0 15px 0 15px;
        text-align: justify
    }

    .visualBackdrop {
        margin: 20px 15px 0 15px;
        border-radius: 30px ;
        background: rgba(255, 255, 255, 0.15); // #FFFFFF40
        -webkit-backdrop-filter: blur(10px); // эффект стекла / матовости
        backdrop-filter: blur(10px);   // для Safari
        display: flex;

        .titleEvents{
            justify-content: center;
        }

    }
}