header {
    display: flex;
    margin: 25px 0 0 0;

    .headerIcon {
        height: 44px;
        width: 79px;
        margin: 0 0 0 15px;
    }

    .burgerMenu {
        margin: 0 15px 0 0;
        margin-left: auto;
        width: 44px;
        height: 44px;
    }

    h2 {
        color: white;
        margin: 9px 0 9px 10px;

    }
}